<a href="https://colab.research.google.com/github/chia-yu0225/work/blob/main/EX03_06_%E5%87%BA%E7%94%9F%E4%BA%BA%E5%8F%A3%E6%95%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!wget -O births.xls https://raw.githubusercontent.com/imchihchao/aop113b/main/materials/03-births.xls

In [ ]:
import pandas as pd

url = 'https://raw.githubusercontent.com/imchihchao/aop113b/main/materials/03-births.xls'
excel_data = pd.ExcelFile(url)

area = ['新北市','臺北市','桃園市','臺中市','臺南市','高雄市']
year = [str(i) for i in range(112, 98, -1)] # 從99年開始縣市合併

df = pd.DataFrame()
for sheet_name in excel_data.sheet_names:
    if sheet_name in year:
        df_yr = pd.read_excel(excel_data, sheet_name=sheet_name, header=4)
        df_yr = df_yr.iloc[:,0:2] # 只留前二欄：縣市及出生人口數
        df_yr.iloc[:, 0] = df_yr.iloc[:, 0].str.replace(" ", "") # 去除早期資料中縣市名稱中間有空白
        df_yr.columns = ['county','births']
        df_yr = df_yr[df_yr['county'].isin(area)] # 篩選只留下六都的資料
        df_yr.loc[:,'year'] = f'{sheet_name:>03}' # 補足99年數字為三位數
        df = pd.concat([df,df_yr], ignore_index=True)
df