<a href="https://colab.research.google.com/github/chia-yu0225/work/blob/main/EX03_01_%E5%85%AC%E5%8F%B8%E8%96%AA%E8%B3%87%E6%A6%82%E6%B3%81%E2%85%A0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

data = {
    'ID': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace', 'Helen', 'Ivy', 'Jack'],
    'Age': [25, 30, 35, 40, 22, 29, 38, 27, 33, 31],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix', 'Philadelphia', 'San Antonio', 'San Diego', 'Dallas', 'San Jose'],
    'Salary': [50000, 60000, 75000, 80000, 45000, 62000, 72000, 58000, 69000, 71000],
    'Department': ['IT', 'HR', 'Finance', 'Marketing', 'IT', 'HR', 'Finance', 'Marketing', 'IT', 'Finance']
}
df = pd.DataFrame(data)
df

In [ ]:
df[['Name','Salary']]

In [ ]:
df.loc[5:8]

In [ ]:
df.iloc[5:9]

In [ ]:
avg_age = df['Age'].mean()
avg_salary = df['Salary'].mean()

df[(df['Age']>avg_age)&(df['Salary']>avg_salary)]

In [ ]:
print(df['Salary'].mean(), df['Salary'].max(), df['Salary'].min(), df['Salary'].median())

In [ ]:
df['Department'].unique()

In [ ]:
print(df.groupby('Department')['Salary'].mean()).idxmax(), df.groupby('Department')['Salary'].mean().max()

In [ ]:
print(df.groupby('Department')['Age'].mean()).idxmin(), df.groupby('Department')['Age'].mean().min()

In [ ]:
corr_matrix = df[['Age','Salary']].corr()
corr_matrix